body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
span{
    color: rgb(221, 177, 33) ;
}
.flex{
    display: flex;
    
}
.half-width-top{
    width: 40%;
    padding-left: 5%;
    font-size: 35px;
    margin-top: 120px;
}
.half-width img{
    width: 90%;
    margin-bottom: 5%;
    margin-right: 10%;
    padding-left: 5%;
}
.link-button{
    background-color: rgb(221, 177, 33);
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 20px 40px;
    border-radius: 25px;
}
.flex-container{
    display: flex;
    margin-top: 50px;
    margin-bottom: 80px;
    background-image: url(7.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.half-width-area{
    width: 50%;
}
.half-width-area img{
    width: 50%;
    padding-left: 25%;
    margin-top: 40px;
}
.half-width-margin{
    width: 40%;
    font-size: 25px;
    margin-top: 80px;
    padding-left: 50px;
}
.link-button-contact{
    background-color: rgb(221, 177, 33);
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 20px 40px;
    border-radius: 25px;
    margin-top: 100px;
    }
    h2{
        text-align: center;
    }
    .My-recipie{
        margin-top: 80px;
    }
    .My-recipie p{
        text-align: center;
    }
    .flex-area{
        display: flex;
        }
    .flex-area img{
        width: 80%;
    }
    .inline{
        padding-left: 2%;
        box-shadow: 2px 2px 2px 2px gray;
    }
    .food-Recipie{
        box-shadow: 0px 0px 25px  gray;
        border-radius: 20px;
        width: 100%;
        margin-left: 3%;
        padding-left: 15px;
        margin-right: 3%;
        }
    .food-Recipie img{
        margin-top: 20px;
        width: 90%;
        padding-left: 10px;
    }
    .social-media{
        display: flex;
        margin-top: 100px;
        margin-left: 10%;
        margin-right: 10%;
        box-shadow: 0px 0px 25px gray;
        padding-left: 20px;
        border-radius: 10px 15px;
        
    }
    .social-media-count{
        width: 15%;
        margin-left: 15%;
        font-size: 18px;
        
    }
    footer{
        text-align: center;
        margin-top: 100px;
        background-color:rgb(95, 29, 95) ;
        font: 700px;
        padding: 30px 50px;
        color: wheat;
    }

    
    
    
    
        
    